* {
  padding: 0;
  margin: 0;
}

body {
  background-image: linear-gradient(to right, #fa709a 0%, #fee140 100%);
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.header {
  width: 90%;
  margin: auto;
  font-size: 70px;
  margin-top: 50px;
}

.recent {
  margin-right: 2rem;
  margin-bottom: 20px;
}

.refresh {
  height: 30px;
  width: 70px;
  border-radius: 0;
  box-shadow: 3px 3px #161515;
  border: 3px solid;
  padding: 5px;
}

.flex {
  display: flex;
}

.DisplayScore {
  margin-right: 50px;
  width: 50%;
}

h2 {
  font-size: xx-large;
}

form input {
  margin-bottom: 20px;
  height: 30px;
  border: 3px solid;
  padding: 5px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.submit {
  width: 80px;
  margin-left: auto;
  box-shadow: 3px 3px #0e0d0d;
}

.AddScore {
  width: 35%;
}

.cont {
  display: flex;
  flex-direction: row;
}

.cont div {
  width: 50%;
  padding: 5px;
}

input::placeholder {
  font-size: 1rem;
  color: rgb(7, 1, 1);
  text-decoration: solid;
}

.input {
  font-size: 18px;
}

.cont:nth-child(even) {
  background-color: lightgray;
}

.scores {
  border: 3px solid;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
  }

  .DisplayScore,
  .AddScore {
    width: 90%;
  }

  .submit {
    width: 80px;
    margin-right: auto;
    margin-bottom: 2rem;
  }
}
