* {
  padding: 0;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
  margin-top: 2rem;
}

.header {
  width: 90%;
  margin: auto;
  font-size: xx-large;
  margin-top: 50px;
}

.recent {
  margin-right: 2rem;
  margin-bottom: 20px;
}

.refresh {
  width: 70px;
  height: 50px;
}

.flex {
  display: flex;
}

.DisplayScore {
  margin-right: 100px;
}

h2 {
  font-size: xx-large;
}

form input {
  margin-bottom: 20px;
}

.row {
  flex-direction: row;
}

.column {
  flex-direction: column;
}

.submit {
  width: 50px;
  margin-left: auto;
}

ul {
  list-style: none;
}

.cont {
  display: flex;
  flex-direction: row;
}

.cont div {
  width: 50%;
}
